<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/signin.css')}}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6724127977861382"
     crossorigin="anonymous"></script>
</head>
<body>

<div class="background">
    <div class="login-box">

        <h1>Welcome Back</h1>
        <p>Sign in to continue</p>

        <form action="/" method="POST">

            <div class="input-box">
                <label>Email ID</label>
                <input type="email" name="email" placeholder="Enter Email" required>
            </div>

            <div class="input-box">
                <label>Password</label>
                <input type="password" name="password" placeholder="Enter Password" required>
            </div>

            <div class="options">
                <label>
                    <input type="checkbox">
                    Remember Me
                </label>

                <a href="#">Forgot Password?</a>
            </div>

            <button type="submit">SIGN IN</button>

        </form>

        <div class="register">
            Don't have an account?
            <a href="{{ url_for('sign.signup') }}">Register</a>
        </div>
        
    <div class="ad-container">
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-1234567890123456"
             data-ad-slot="1234567890"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>

        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    </div>
</div>

</body>
</html>